.lib {
  padding-top: 51px;
}
.lib #c-topbar02 {
  margin: 15px 0;
}
.bs-example-modal .modal {
  width: 100%;
  position: relative;
  opacity: 1;
  display: block;
  z-index: auto;
}
.bs-example-modal .modal .modal-dialog {
  transform: translate(0, 0);
}
.example-flex-row-end {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-end;
}
.clear-columns {
  margin-top: 20px;
  margin-bottom: 20px;
}
.mt10 {
  margin-top: 10px;
}
.mb10 {
  margin-bottom: 10px;
}
.mb20 {
  margin-bottom: 20px;
}
.example-btn-group .btn {
  margin-bottom: 5px;
}
.example-input-group input,
.example-input-group select {
  margin-bottom: 5px;
}
.colorlist {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.colorlist li {
  width: 25%;
  height: 100px;
  padding: 10px;
  position: relative;
}
.colorlist li .colorbox-title {
  position: absolute;
  left: 6%;
  bottom: 7%;
  color: #fff;
}
.colorlist li .colorbox-title small {
  opacity: .5;
  display: block;
}
